[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pytest = "*"
requests = "*"
locust = "*"
pyyaml = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.12"

[scripts]
test = "locust -f testcase/locust_test.py --headless -u 10 -t 10"